.example-spacer {
  flex: 1 1 auto;
}

.status-table-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1400px;
}

.ticket-table-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1400px;
}

mat-form-field {
  width: 100%;

}

.dividerCard {
  background: whitesmoke;
}

